.recipes {
  display: flex;
  flex-flow: column;
  gap: 50px;
  justify-content: center;
  align-items: center;
  padding: 50px;
  width: 100vw;
}

.recipes-ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}
